body {
    margin: 0;
    font-family: Arial;
    text-align: center;
    color: white;
    background: linear-gradient(135deg, #ff4d6d, pink);
    overflow-x: hidden;
}

#login {
    margin-top: 120px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 200px;
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: red;
    color: white;
    cursor: pointer;
}

#conteudo {
    display: none;
}

.menu button {
    margin: 10px;
}

.aba {
    display: none;
    margin-top: 20px;
}

#home {
    display: block;
}

.galeria img {
    margin: 10px;
    border-radius: 15px;
    width: 150px;
}

/* Corações animados */
.coracoes span {
    position: fixed;
    color: red;
    animation: subir 5s linear infinite;
}

@keyframes subir {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(-10vh);
    }
}